@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  margin: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: lightgray;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  /* max-width: 100%;
  height: auto; */
  border-radius: 0.675rem;
}

main {
  background-color: white;
  max-width: 320px;
  margin: 1.075rem;
  padding: 15px;
  border-radius: 1.35rem;
  box-shadow: 0 1.6rem 1.6rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1{
    font-family: "Righteous", cursive;
    font-size: 2.25rem;
    margin: 0.675rem 0;
}
p {
  line-height: 1.5;
  color: #4f4f4f;
  margin: 0.675rem 0 1.35rem 0;
}